body {
  background-color: #2980b9;
  padding: 0%;
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1{
  font-family: Arial, Helvetica, sans-serif; 
}
form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #ffffff;
}

input,
textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 3px;
}

button:hover {
  background-color: #2980b9;
}

a {
  color: #3498db;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #ecf0f1;
  /* color de fondo para los enlaces */
  border-radius: 5px;
  /* bordes redondeados */
  transition: background-color 0.3s ease, color 0.3s ease;
  /* animación suave */
}

a:hover {
  background-color: #3498db;
  color: #fff;
  /* cambia el color de texto al pasar el mouse */
  text-decoration: none;
  /* manténlo sin subrayado */
}

/*area del header*/
.cabecera {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  color: #fff;
  justify-content: center;
}

/*area del footer*/
.piso {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%;
}